/* COMMON CSS START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bodyHeight: 2000px;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    line-height: 2.4rem;
    min-height: var(--bodyHeight);
	text-rendering: optimizeLegibility;
}
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
	list-style-type: none;
}
a:link {
    text-decoration: none;
}
/* COMMON CSS END */
/* BOOTSTRAP CSS FIXING START */
.my-3 {margin-top: 1.5rem;}
.py-3 {padding: 1.9rem;}
.lead {font-size: 1.6rem;}
.h3, h3 {font-size: 2.4rem;}
.h4, h4 {font-size: 2rem;font-weight: 600;}
.btn {font-size: 1.6rem;padding: 0.400rem 1rem;}
.display-4 {font-size: 5.5rem;}
.close {font-size: 2.5rem;}
.modal-header {padding: 2rem;}
.modal-body {padding: 1.5rem;}
.modal-dialog {margin: 3rem auto;}
.modal-content {border-radius: .5rem;}
.modal-footer>* {margin: .50rem;}
.modal-footer {padding: 1rem;}
.form-group {margin-bottom: 2rem;}
.form-control {padding: 1.5rem .75rem;font-size: 1.6rem;}
.list-group-item {padding: 1.25rem;}
.card-header {padding: 1.50rem 1.25rem;}
.card-body {padding: 2rem;}
/* BOOTSTRAP CSS FIXING END */